Repository chyiiiiiiiiiiii/flutter_zendesk_messaging, pull requests merged in 2024-11, with the labels that each got.

#62 Set the min Dart version from 3.5.0 to 3.0.0
  .gitignore
  .idea/.gitignore
  .idea/libraries/Dart_SDK.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/libraries/KotlinJavaRuntime.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/runConfigurations/example_lib_main_dart.xml
  .idea/vcs.xml
  .vscode/settings.json
  android/.idea/.gitignore
  android/.idea/.name
  android/.idea/compiler.xml
  android/.idea/gradle.xml
  android/.idea/jarRepositories.xml
  android/.idea/kotlinc.xml
  android/.idea/migrations.xml
  android/.idea/misc.xml
  android/.idea/modules.xml
  android/.idea/vcs.xml
  example/.gitignore
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
  zendesk_messaging.iml
Labels: dependencies

#63 Fix method channel calls never complete
  ios/Classes/SwiftZendeskMessagingPlugin.swift
  ios/Classes/ZendeskMessaging.swift
  lib/zendesk_messaging.dart
Labels: bug

#64 Release version 2.9.2
  .fvmrc
  CHANGELOG.md
  pubspec.yaml
Labels: feature

#67 Android Method Channel Calls Never Complete
  android/src/main/AndroidManifest.xml
  android/src/main/kotlin/com/chyiiiiiiiiiiiiii/zendesk_messaging/ZendeskMessaging.kt
  android/src/main/kotlin/com/chyiiiiiiiiiiiiii/zendesk_messaging/ZendeskMessagingPlugin.kt
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/settings.gradle
Labels: bug

#68 Fix duplicate method channel reply and argument parsing error
  android/src/main/kotlin/com/chyiiiiiiiiiiiiii/zendesk_messaging/ZendeskMessagingPlugin.kt
  lib/zendesk_messaging.dart
Labels: bug, platform:android, platform:flutter

#69 Fix method channel no response
  android/src/main/kotlin/com/chyiiiiiiiiiiiiii/zendesk_messaging/ZendeskMessaging.kt
  android/src/main/kotlin/com/chyiiiiiiiiiiiiii/zendesk_messaging/ZendeskMessagingPlugin.kt
  example/lib/main.dart
  lib/zendesk_messaging.dart
Labels: bug, platform:android, platform:flutter

#71 Adjust method channel mechanism on iOS
  example/lib/main.dart
  ios/Classes/SwiftZendeskMessagingPlugin.swift
  ios/Classes/ZendeskMessaging.swift
Labels: enhancement, platform:ios

#72 Support listening unread messages on iOS
  example/lib/main.dart
  ios/Classes/SwiftZendeskMessagingPlugin.swift
  ios/Classes/ZendeskMessaging.swift
Labels: feature, platform:ios
